body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
.red-colour{
    color: rgb(255, 0, 51);
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 80%;
    padding-top: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient( tomato, orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width2{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width2 img{
    width: 80%;
    padding-top: 10%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}